@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.button{
    display: inline-block;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    background-color: hsl(40, 100%, 45%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    list-style-type: none;
}