@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.button{
    display: inline-block;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    background-color: hsl(40, 100%, 45%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    border: 1px hsl(40, 100%, 45%)  ;
}
.button:hover {
    background-color: hsl(40, 100%, 35%);
    border: 1px hsl(40, 100%, 35%)  ;
}
.button:active {
    background-color: hsl(40, 100%, 40%);
    border: 1px hsl(40, 100%, 40%);
}
.button:focus{
    outline: none;
}
.button.ok{
    background-color: hsl(110, 100%, 45%);
    border: 1px hsl(110, 100%, 45%)  ;
}
.button.ok:hover{
    background-color: hsl(110, 100%, 35%);
    border: 1px hsl(110, 100%, 35%)  ;
}
.button.ok:active{
    background-color: hsl(110, 100%, 40%);
    border: 1px hsl(110, 100%, 40%)  ;
}
.button:focus{
    outline: none;
}


.button.danger{
    background-color: hsl(0, 100%, 45%);
    border: 1px hsl(0, 100%, 45%)  ;
}
.button.danger:hover{
    background-color: hsl(0, 100%, 35%);
    border: 1px hsl(0, 100%, 35%)  ;
}
.button.danger:active{
    background-color: hsl(0, 100%, 40%);
    border: 1px hsl(0, 100%, 40%)  ;
}
.button.danger:focus{
    outline: none;
}
.button.small{
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    border-radius: 3px;
}


   